Repository titouandeschanels/GlobalCitizenship, pull requests merged in 2024-05, with the labels that each got.

#4 4-setup-backend
  README.md
  backend/.gitignore
  backend/gccbackend/__init__.py
  backend/gccbackend/asgi.py
  backend/gccbackend/server/__init__.py
  backend/gccbackend/server/admin.py
  backend/gccbackend/server/apps.py
  backend/gccbackend/server/migrations/__init__.py
  backend/gccbackend/server/models.py
  backend/gccbackend/server/tests.py
  backend/gccbackend/server/views.py
  backend/gccbackend/settings.py
  backend/gccbackend/urls.py
  backend/gccbackend/wsgi.py
  backend/manage.py
Labels: backend

#6 6-add-swagger-docs
  README.md
  backend/gccbackend/settings.py
  backend/gccbackend/urls.py
  backend/requirements.txt
Labels: documentation, enhancement, backend

#11 5 journeymap page
  gccapp/src/App.tsx
  gccapp/src/assets/icons/arrow.svg
  gccapp/src/assets/icons/journey-flag-icon.svg
  gccapp/src/assets/icons/journey-step-icon.svg
  gccapp/src/assets/icons/journey-step-lock-icon.svg
  gccapp/src/assets/icons/speechbubble-icon.svg
  gccapp/src/assets/icons/speechbubble-thisisme-icon.svg
  gccapp/src/assets/icons/title-icon.svg
  gccapp/src/assets/icons/trophy-icon.svg
  gccapp/src/assets/icons/trophy-lock-icon.svg
  gccapp/src/assets/svg.d.ts
  gccapp/src/components/journey/elements.js
  gccapp/src/components/journey/index.tsx
  gccapp/src/components/navigation/elements.js
  gccapp/src/components/navigation/index.tsx
  gccapp/src/components/step/element.js
  gccapp/src/components/step/index.tsx
  gccapp/src/pages/journey.tsx
Labels: enhancement, frontend

#19 fix journey page height layout #5
  gccapp/src/components/journey/elements.js
  gccapp/src/components/journey/index.tsx
Labels: enhancement, frontend
